body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: fixed !important;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  
  /* width: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  background-color: #C6B4EB;
}

.boxs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;

}


.header {
  display: flex;
  background-color: aliceblue;
  justify-items: center;
  margin: 0 auto;
  padding : 0;
}

.list_language{
  display: flex;
  width: 80vh;
  padding: 0%;
  /* margin-left: 80px; */
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.list_language li{
  flex : 20% 0 0 ;
  box-sizing: border-box;
  padding: 10px;
  margin: 3px 3px 3px 3px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
}

.ok{
  display: flex;
}

.ok button {
  background-color: rgba( 255, 255, 255, 0 );
  text-decoration: none;
  border: 0;
  outline: 0;
}